<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="nz.gen.wellington.guardian.android" android:versionCode="31" android:versionName="1.6">
   	   	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false" android:name=".application.GuardianLite">
    		    	 	        	 	     
    	<activity android:name=".activities.about" />   	
    	 	     
        <activity android:label="@string/app_name" android:name=".activities.main"  android:launchMode="singleTask">
	       	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    	
        </activity>
      	
    	<activity android:label="View Article" android:name=".activities.article" >
    		<intent-filter>
    		</intent-filter>
		</activity>

		<activity android:label="Sections" android:name=".activities.sections"  >
			<intent-filter>
			</intent-filter>
		</activity>

		<activity android:name=".activities.section"  ><intent-filter></intent-filter>
		</activity>

		<activity android:name=".activities.sync" ></activity>

		<service android:name=".contentupdate.ContentUpdateService" android:enabled="true"></service>
		
		<activity android:name=".activities.tag"  ></activity>
		<activity android:name=".activities.preferences" ></activity>
		<activity android:name=".activities.favourites" ></activity>
		<activity android:name=".activities.notification" android:noHistory="true"></activity>
		<activity android:name=".activities.tagsearch" ></activity>

		<receiver android:name=".contentupdate.alarms.ContentUpdateAlarmReceiver"></receiver>
		
		
		<receiver android:name=".widgets.TopStoriesWidget" android:label="@string/widget_name">
		    <intent-filter>
    		    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
		</receiver>
				
		<receiver android:name=".widgets.FavouriteStoriesWidget" android:label="@string/favourites_widget_name">
		    <intent-filter>
    		    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
		</receiver>
		
		<activity android:name=".activities.widgets.mainwidget" android:noHistory="true" />
		<activity android:name=".activities.widgets.favouritewidget" android:noHistory="true" />
		
<activity android:name=".activities.savedArticles"></activity>
<activity android:name=".activities.search"></activity>
</application>
	
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	
	<supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="false" anyDensity="true" />	
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	
	
</manifest> 
